body{
    display: flex;
    flex-direction: column;
}

section{
    display: grid;
}

.container{
    flex: 1;
    background-color: beige;
}

.branch-title{
    text-align: center;
    margin-top : 3%;
    font-family: "Castellar";
}

.branch-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
    justify-content: space-around;
    margin: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    border: 2px solid #00000030;
    width: 80%;
    height: 175px;
    background-image: linear-gradient(to bottom right, #ab7b7b, #2b2119); /* Definir un gradiente lineal */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 450ms;
    transform-origin: center left;
    position: relative;
}

.branch-link{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    font-family: "Castellar";
}

.branch-adress{
    color: white;
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    position: absolute;
    background-color: var(--color-fondo);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
    opacity: 0;
}

.box:hover{
    opacity: 0.9;
}

.box:hover .branch-adress {
    bottom: 0;
    display: block;
    opacity: 1;
}

footer {
    position: fixed; /* Establece la posición fija */
    bottom: 0; /* Sitúa el footer en la parte inferior de la ventana */
    width: 100%; /* Establece el ancho al 100% del viewport */
}